@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgb(78, 78, 255),rgb(162, 0, 162));
}

.cont{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cont header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
}

.cont form{
    margin-top: 20px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.form .input-box input{
    position: realative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
    color: #707070;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 0 15px;
    box-shadow: 0.5px 0.5px;
}


.form .column{
    display: flex;
    column-gap: 15px;
}

.form .gender-box h3{
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
    margin-top: 20px;

}

.form .gender-option{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.form button{
    position: realative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 0 15px;
    box-shadow: 0.5px 0.5px;
    background: linear-gradient(rgb(78, 78, 255),rgb(162, 0, 162));
}

.form button:hover{
    background: linear-gradient(rgb(32, 32, 131),rgb(103, 0, 103));;
}

@media screen and (max-width: 500px) {
    .form .column{
        flex-wrap: wrap;
    }
    
}


